body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.top-container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 60px;
}

.myphoto {
  width: 200px;
}

.codingbracket {
  width: 200px;
}

.glasses {
  width: 200px;
}

h1 {
  margin-top: 20;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-size: 2rem;
  color: #66BFBF;
  font-weight: bolder;
  line-height: 2;
  margin-top: 50px;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.codingbracket {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.glasses {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.mountain {
  width: 100%;
}

.top-cloud {
  width: 200px;
  position: absolute;
  left: 900px;
  top: 20px;
}

.bottom-cloud {
  width: 200px;
  position: absolute;
  left: 300px;
  bottom: 340px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #CDBBA7;
  width: 5%;
  margin-top: 5%;
}

.bottom-container {
  background-color: #66BFBF;
  margin: 30px auto 0 auto;
  line-height: 3;
}

.myphoto {
  margin-top: 50px;
}

.footer-note {
  color: #EAF6F6;
}

.footer-link {
  color: #11999E;
}

.contact-me {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 26px;
   font-weight: 100;
   padding: 17px;
   background-color: #11999E;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 50px auto 50px auto;
}

.footer-link {
  font-weight: bolder;
}
